body {
  font-family: Arial, sans-serif; /* Arial に固定 */
  background-color: #f0f0f0;
  }
.container {
  margin-top: 100px; /* ナビバー固定分のスペース確保 */
}
a.nav-link {
  color: white !important; /* ナビバーリンク色 */
}
a.nav-link:hover {
  text-decoration: underline;
}
.container-content {
  background-color: #fff;
  padding: 30px;
  margin-top: 100px; /* ナビバーの固定分スペース確保 */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
ul {
  list-style-type: square;
  padding-left: 20px;
}
